* {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
body{
    background: -webkit-linear-gradient(bottom, #bb164a, #ff2e54, #ff8888);
    background-repeat: no-repeat;
}
/* hack para el background https://css-tricks.com/forums/topic/background-image-height-problem-not-fitting-to-the-screen/ 
html, body {min-height: 100%;}
body {background-size: cover;}
*/
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    width:250px;
    margin:20px auto;
}
a{
    color:lemonchiffon;    
}
a:hover{
    color:purple;
}
li a{color:maroon;}
#destacado,#retos_batalla{
    width:70%;
    text-align: left;
    margin:15px auto;    
}
#destacado_home{
    width:70%;
    text-align: center;
    margin:55px auto;
    font-size: 32px;
     
}
#destacado_home a{
    color:#1c1c1c; 
    text-decoration:midnightblue;
}
.card {
    /*position: absolute;
    top: 30%;
    left: 40%;*/
    position: fixed;
    left: -358px;
    top:28px;
    color:#fff;
    display: inline-block;
    width: 350px;
    height: 200px;
    background: #1c1c1c;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.mostrar{                
    left: 0px;
}
.card .card-info {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 70px;
}
.card .text {
    padding-left: 20px;
    margin: 0;
}
.card .back {
    font-size: 15px;
}
.card .blue {
    color: #29b6f6;
}
.card .green {
    color: #9ccc65;
}
.card .purple {
    color: #ba68c8;
}
.card .red {
    color: #ef5350;
}

.card_info {
    position: relative;
    font-family: "Raleway", sans-serif;
    background: #ebebeb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    width: 348px;
    height: 350px;
    display: inline-block;  
    vertical-align: bottom; /* https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */              
    margin-bottom: 10px;
}
.modal-content {
    padding: 24px 5px;
}
.modal-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

.underline-title {
    background: -webkit-linear-gradient(right, #ff4e4e, #a61e50);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

/*Mios*/
.wrapper{
    text-align: center;
}

.card button{
    background: #1c1c1c;
    color: #ebebeb;
    width: 50px;
    height: 60px;
    position: absolute;
    right: -50px;
    border: none;
    cursor: pointer;
}
.card button:hover{
    color: #1c1c1c;
    background: #ebebeb;
}

pre{
    background: rgb(255, 0, 85);
    color: #ebebeb;
    text-align: right;
    padding-right: 10px;
    height: 100px;
}
ul li{
    list-style: none;
    text-align: left
}
ul li {
    margin-bottom: 10px;
}
.circular{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../img/yo_02.jpg);
    background-size: cover;
}
.cabezote_header{
    position: relative;
    width: 302px;
    margin: 0 auto;
}
.cabezote_header h2{
    position: absolute;
    top: 4px;
    text-align: right;
    font-size: 58px;
    line-height: 46px;
    font-family: sans-serif;
    color:#ff8485;
}
.img_link{
    text-decoration: none;
}
.cabezote_links{
    text-align: center;
}
